
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- bootstrap an font-awesome-->

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <title>GSS-Iot</title>
