<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <div class="container">
      <br>
          <div class="card-mid" id="box">
            <div class="card-img">
              <img src="/img/LogoGSS.png" width=""alt="">
            </div>
            <p>Bienvenido a Google Smart Solution IoT, en esta app se enviaran datos del sensor acelerometro para poder obtener el ganador semanal de las carreras.</p>
            <br>
            <form class="form_section" action="/carrera" method="post">
              <h3>Para pruebas usar 12345678</h3>
              <input type="number" name="usuario" placeholder="Ingrese su usuario">
              <button type="submit" class="nav-link-btn bg-blue"><i class="fas fa-running"></i> Empezar Carrera</a></button>
            </form>
              <% if(error){%>
                <div style="position: relative ;height: 75px; text-align: center;">
                  <p class="txt2" href="#" style="">
                    El usuario no esta registrado
                  </p>
                </div>
              <%}%>
            <br>
            <a class="nav-link-btn bg-blue" href="/resultados"><i class="fas fa-medal"></i> Resultados Diarias</a>
      </div>
    </div>
  </body>
</html>
